body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 30px;
}
h1, h2, h3 {
    color: #333; } .info {
    font-weight: bold;
}
.section {
    margin-bottom: 30px;
}
.Educacion {
    margin-bottom: 20px;
}
ul {
    padding-left: 20px;
}
.title {
    font-weight: 400;
}
.card{
    max-height: fit-content;
    max-width: fit-content;
}

footer{
    background-color:lightgoldenrodyellow;
    display: flex; 
    justify-content: center;
}